.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 100px;
  width: 200px;
}

/* .description {
  margin-top: 1.5rem !important;
} */

/* .featureRow {
  display: flex;
}

.featureColumn {
  flex: 50%;
  text-align: center;
} */